<Alloy>
	<Window class="vertical" id="config" titleid="upload_settings">
		<View class="vertical">
			<ActivityIndicator id="activityIndicator" />

			<Label textid="upload_settings_welcome"/>

			<Button class="noshow" id="login_start" titleid="login_start" />

			<Button class="noshow" id="login_update" titleid="login_update" />

			<Button class="noshow" id="login_delete" titleid="login_delete" />
			
			<Label class="noshow" id="mediawiki_data"/>
			
			<Label id="commento_login_start" class="noshow" textid="login_instructions"/>
		</View>
	</Window>
</Alloy>