<Alloy>
	<Window class="vertical" id="config" title="Gestioni impostazioni upload">
		<View class="vertical">
			<ActivityIndicator id="activityIndicator" />

			<Label text="Da qui puoi controllare le impostazioni relative al tuo account Wikimedia con particolare riferimento alla funzionalità di upload foto da app."/>

			<Button class="noshow" id="login_start">Accedi a Wikimedia Commons</Button>

			<Button class="noshow" id="login_update">Verifica avvenuto accesso</Button>

			<Button class="noshow" id="login_delete">Logout</Button>
			
			<Label class="noshow" id="mediawiki_data"/>
			
			<Label id="commento_login_start" class="noshow" text="Per proseguire, effettua il login o crea un account su Wikimedia Commons cliccando il tasto blu qui sopra. Se hai già fatto il login, clicca il tasto per verificare l'avvenuto accesso."/>
		</View>
	</Window>
</Alloy>